
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/hapti_screen.css') }}">
<div class="container">
  <div class="brand-logo"></div>

  <div class="brand-title">Login</div>
  <div class="inputs">
    <label>Email</label>
    <input type="email" placeholder="example@test.com" />
    <label>Password</label>
    <input type="password" placeholder="Min 6 characters long" />
    <button type="submit">LOGIN</button>
  </div>
  <a href="_forgotpassword">Forgot Password</a>
  <a1 href="_blank">© Santosh</a1>
</div>